$banner-font-color: white;
$main-font-color: #787878;
$muted-font-color: #b5b5b5;
$main-color: #8fcddc;

@mixin fontStyle($fontSize: 16px, $fontColor: black) {
    font-size: $fontSize;
    color: $fontColor;
}

@mixin flexMix($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.header {
    width: 100%;
    height: 57px;
    background: rgba($main-color, .3);
    padding: 0 128px;
    @include flexMix(space-between);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    height: 100%;
    width: 57px;
    background: rgba($banner-font-color, .5);
    @include flexMix;

    .line {
        width: 37px;
        height: 6px;
        background: $banner-font-color;
        position: relative;

        &:after {
            content: '';
            width: 37px;
            height: 6px;
            background: $banner-font-color;
            position: absolute;
            left: 0;
            top: 11px;
        }

        &:before {
            content: '';
            width: 37px;
            height: 6px;
            background: $banner-font-color;
            position: absolute;
            left: 0;
            bottom: 11px;
        }
    }
}

.banner {
    width: 100%;
    height: 482px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0 30px 150px 30px;
    box-sizing: border-box;
    @include flexMix($vert: flex-end);

    .content {
        width: 100%;
        @include flexMix(space-between, flex-end);

        .info {
            width: 100%;
            padding-left: 100px;
            box-sizing: border-box;

            .info-content {
                width: 390px;
            }

            .title {
                text-align: center;
                @include fontStyle(26px, $banner-font-color);
                display: block;
                padding: 0 40px;
                box-sizing: border-box;
                margin-bottom: 30px;
            }

            .search {
                width: 100%;
                height: 43px;
                position: relative;

                &-input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    @include fontStyle(21px, $main-font-color);
                    padding-left: 15px;
                    padding-right: 50px;
                    box-sizing: border-box;
                }

                &-icon {
                    position: absolute;
                    right: 12px;
                    bottom: 7px;
                }
            }
        }
    }
}

.register {
    width: 100%;
    height: 112px;
    border-bottom: 1px solid $muted-font-color;
    box-sizing: border-box;
    @include flexMix;

    &-text {
        @include fontStyle(35px, $main-font-color);
    }

    &-button {
        margin-left: 35px;
        width: 255px;
        height: 60px;
        background: $main-color;
        border: none;
        outline: none;
        cursor: pointer;
        @include fontStyle(35px, $banner-font-color);
        font-weight: 300;
    }
}

.categories {
    @include flexMix($pos: column);
    width: 100%;
    padding: 36px 128px 70px 128px;
    box-sizing: border-box;

    .title {
        text-transform: uppercase;
        @include fontStyle(23px, $main-font-color);
        margin-bottom: 30px;
    }

    .items {
        width: 100%;
        @include flexMix(space-around);

        .list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                @include fontStyle(15px, $muted-font-color);
            }

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


